 @model IEnumerable<SalesWebMvc.Models.Seller>
@{
    ViewData["Title"] = "Vendedores";
    
}


<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create" class="btn btn-default">Cadastro de novo vendedor</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.DataDeNascimento)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.BaseSalarial)
            </th>
                <th>
                @Html.DisplayNameFor(model => model.DepartamentId)
            </th>
            <th>Editar</th>
            <th>Detalhes</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDeNascimento)
                </td>        
                <td>
                    @Html.DisplayFor(modelItem => item.BaseSalarial)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.DepartamentId)
                </td>
                <td>
                    <a asp-action="edit" asp-route-id="@item.Id">Edit</a>
                </td>
                  <td>
                    <a asp-action="detail" asp-route-id="@item.Id">Detail</a>
                </td>
                  <td>
                    <a asp-action="delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>



</table>